.movie-row {
  width: 100vw;
}

.movie-row > h2 {
  font-weight: 800;
}

.movie-row__movies {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
