.movie-row {
  width: 100vw;
}

.movie-row > h2 {
  font-weight: 800;
}

.movie-row > div {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.movie-row > div {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.movie-row > div::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
