.navigation-bar {
  position: fixed;
  z-index: 1;
  width: 1440px;
  transition: background-color 200ms;
}

.navigation-bar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation-bar > div > * {
  padding: 24px 48px;
  cursor: pointer;
  transition: scale 200ms;
}

.navigation-bar > div > *:hover {
  scale: 1.1;
}

.navigation-bar--black {
  background-color: #242424;
}

.navigation-bar--transparent {
  background-color: transparent;
}
