.navigation-bar {
  position: fixed;
  z-index: 100;
  width: 1440px;
}

.navigation-bar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation-bar > div > * {
  padding: 24px 48px;
}
